body{
    margin-left: 20px;
}

.header{  
    min-height: 12vh; 
    background-image: url("flowers.jpg");  
}


h4{
    color: rgb(98, 5, 91);
    font-style: fantasy;
    font-size: 14px;
    font-weight: bold;
}

h1{
    background-color:  rgb(207, 171, 196);  
    color: white;
}

navbar-container-fluid{
    background-color: rgb(118, 57, 101);;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-container{
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    border: 3px double rgb(109, 49, 114);
    border-radius: 15px;
}

.btn-lg, .btn-primary{
    background-color: rgb(118, 57, 101);
    border-color: rgb(118, 57, 101);
    size: 10px;
}

.btn-lg:hover{
    background-color:  rgb(187, 118, 182);
    border-color: rgb(187, 118, 182);
}

.btn-primary:hover{
    background-color:  rgb(187, 118, 182);
    border-color: rgb(187, 118, 182);
}

.list-group-item{ 
    background-color:rgb(247, 229, 247);
    line-height-step: .5em;
}

.form-label{
    line-height: 6px;
}

#from-name, #to-name{
    line-height: 10px;
    font-size: 15px;  
}

.fa-circle-left, .fa-circle-right{
    color: rgb(118, 57, 101);
}

h3{
    font-size: 22px;
}


@media (max-width: 576px) {
    .emails{
        display: none;
    }   
}

@media (min-width: 992px) {
    body{
        overflow: hidden; 
    } 
}

   

